

build/
testfiles/*.pdf
oldtestfiles/*
testfiles snapshot/
testfiles to update/
tidbits/

*.sty
*.pdf
*.toc
*.zip
*.ptc*
*.mtc*
*.log
*.idx
*.aux
*.hd
*.out
*.maf
*.orig

test.ltx
test.tex

stix-tbl.txt
umtable.tex

*.synctex*

.DS_Store

unicode-math/
