

build/
testfiles/*.pdf
oldtestfiles/*
testfiles snapshot/
testfiles to update/
tidbits/
*test*
*.sty
*.pdf
*.toc
*.zip
*.ptc*
*.mtc*
*.log
*.idx
*.aux
*.hd
*.out
*.maf
*.orig

test.ltx
test.tex

stix-tbl.txt
umtable.tex

*.synctex*

/testfiles/umtest-suite-F.tex
/testfiles/umtest-suite-L.tex
/testfiles/umtest-suite-X.tex

.DS_Store
